*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  background: #000;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.container > img{
  width: 35%;
}

.wrapper{
  background-color: #fff;
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 40px;
  font-weight: 600;
  color: gray;
  margin: 35px 0;
}

button{
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: gray;
  border: 1ps solid gray;
  color: #fff;
  font-size: 20px;
  margin: 30px 0;
  cursor: pointer;
}